<div class="users-edit">
  <h1>Edit profile</h1>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <%= form_with model: @user do |f| %>
        <%= render "shared/error_messages", object: f.object %>

        <%= f.label :avatar, "アバター", class: "form-label" %>
        <div class="avatar-profile">
          <% if @user.avatar.attached? %>
            <%= image_tag @user.avatar, id: 'avatar' %>
          <% else %>
            <%= image_tag "default.png", id: 'avatar' %>
          <% end %>
          <!-- 暫定 -->
          <%= f.file_field :avatar, onchange: "avatarImage(this)",
                                    accept: "image/jpeg, image/gif, image/png",
                                    class: "mt-2"
          %>
        </div>

        <%= f.label :name, "名前", class: "form-label" %>
        <%= f.text_field :name, class: "form-control"%>

        <%= f.label :email, "メールアドレス", class: "form-label" %>
        <%= f.email_field :email, class: "form-control" %>

        <%= f.label :password, "パスワード", class: "form-label" %>
        <%= f.password_field :password, class: "form-control" %>

        <%= f.label :password_confirmation, "パスワード再入力",
                    class: "form-label" %>
        <%= f.password_field :password_confirmation, class: "form-control" %>

        <%= f.submit "保存", class: "btn form-control" %>
      <% end %>
    </div>
  </div>
</div>

<script>
  function avatarImage(obj){
    var fileReader = new FileReader();
    fileReader.onload = (function() {
      document.getElementById('avatar').src = fileReader.result;
    });
    console.log("onchange");
    fileReader.readAsDataURL(obj.files[0]);
  }
</script>