<div class="users-show">
  <h1>マイページ</h1>
  
  <ul class="list-group mb-3">
    <li class="list-group-item user-info">
      <%= image_tag @user.avatar_url %>
      <p><%= @user.name %></p>
    </li>
    <li class="list-group-item">
      <p>やりたいこと</p>
      <div class="count">
        <%= @user.list_items.where(accomplished: false).count %>
      </div>
    </li>
    <li class="list-group-item">
      <p>達成したこと</p>
      <div class="count">
        <%= @user.list_items.where(accomplished: true).count %>
      </div>
    </li>
  </ul>

  <!-- やりたいことリスト -->
  <h2 class="col-md-3 mb-3">やりたいこと</h2>
  <div class="not-accomplished-list">

    <!-- 投稿部分 -->
    <% if current_user?(@user) %>
      <%= render "list_items/list_items_form" %>
    <% end %>

    <% if @list_items_not_accomplished.any? %>
      
      <ol class="list-items row row-cols-1 row-cols-sm-2 row-cols-md-3
                row-cols-lg-4 g-2 mb-4">
        <%= render partial: "list_items/list_item_not_accomplished",
                    collection: @list_items_not_accomplished,
                    as: :list_item %>
      </ol>

    <%= paginate @list_items_not_accomplished, theme: 'bootstrap-5',
                              pagination_class: "justify-content-center",
                              param_name: 'not_accomplished_page' %>
    <% else %>
      <p>やりたいことがまだありません</p>
    <% end %>
  </div>
  <!-- やりたいことリスト -->
  
  <!-- 達成したことリスト -->
  <h2 class="col-md-3 mb-3">達成したこと</h2>
  <div class="accomplished-list">
    <% if @list_items_accomplished.any? %>
      <ol class="list-items row row-cols-1 row-cols-sm-2 row-cols-md-3
                  row-cols-lg-4 g-2 mb-4">
          <%= render partial: "list_items/list_item_accomplished",
                      collection: @list_items_accomplished,
                      as: :list_item %>
        </ol>

        <%= paginate @list_items_accomplished, theme: 'bootstrap-5',
                                pagination_class: "justify-content-center",
                                param_name: "accomplished_page" %>
    <% else %>
      <p>達成したことがまだありません。</p>
    <% end %>
  </div>
  <!-- 達成したことリスト -->

  <!-- いいねしたことリスト -->
  <h2 class="col-md-3 mb-3">いいねしたこと</h2>
  <div class="liked-list mb-3">
  <p>いいねしたことがまだありません。</p>
  </div>
  <!-- いいねしたことリスト -->

</div><!-- .users/show -->
